{% extends 'header.html' %}

{% block content %}

      <div class="nav">
          <h2>– LATEST TRANSFERS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  transfer fee, <br />
                  mill. euro, <br />
                  by tft.com
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="latest-transfers">
        
        <table class="players">
          <tr>
            <td>1 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>2 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>3 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>4 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>5 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>6 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>7 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>8 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>9 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>10 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>11 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>12 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>13 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>14 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>15 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>16 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>17 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>18 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>19 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>20 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>21 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>22 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          <tr>
            <td>23 Jack Grealish</td>
            <td>Aston villa</td>
            <td>Man City</td>
            <td>117,5</td>
            <td>65</td>
          </tr>
          </tr>
        </table>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
      </div>
      <div class="footer">
        <a href="https://www.facebook.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-facebook-f"></i> &nbsp;
              <h3>facebook</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/topfootballtransfers/">
          <div>
            <i class="fa-brands fa-instagram"></i> &nbsp;
            <h3>Instagram</h3>
          </div>
        </a>
      </div>
    </div>
  </body>
  <script src="js/main.js"></script>
</html>
 {% endblock %}